<% unless session[:user] %>
  <h1>Hello!</h1>
  <p>Welcome to our cool site</p>
  <p>Please <%= link_to 'login', session_create_url %></p>
<% else %>
  <h1>Welcome back <%= session[:user][:full_name] %></h1>
  <p>The following data could be extracted from your session: <%=  session[:user].inspect %></p>
  <p>Send a email with greetings: <%=  link_to "Send email", {:controller => 'session', :action => 'mail'} %></p>
  <p>Send a feed: <%=  link_to "Send feed", {:controller => 'session', :action => 'feed'} %></p>
<% end %>
